    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Gochi Hand", cursive;
        font-weight: 400;
        font-style: normal;
    }

    #bg-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #head {
        color: white;
        font-size: 4rem;
        margin: 20px;
        text-align: center;
        letter-spacing: 10px;
    }

    #head2 {
        color: white;
        font-size: 35px;
        margin-bottom: 60px;
        text-align: center;
        letter-spacing: 5px;
    }

    .moods-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1200px;
        gap: 20px;
    }

    .mood {
        position: relative;
        padding: 12px 35px;
        background: #fec195;
        font-size: 20px;
        font-weight: 500;
        color: #181818;
        border: 3px solid #fec195;
        border-radius: 8px;
        box-shadow: 0 0 0 #fec1958c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        font-family: inherit;
    }

    .star-1 {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    }

    .star-2 {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    }

    .star-3 {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    }

    .star-4 {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    }

    .star-5 {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
    }

    .star-6 {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s ease;
    }

    .mood:hover {
        background: transparent;
        color: #fec195;
        box-shadow: 0 0 25px #fec1958c;
    }

    .mood:hover .star-1 {
        position: absolute;
        top: -80%;
        left: -30%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .mood:hover .star-2 {
        position: absolute;
        top: -25%;
        left: 10%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .mood:hover .star-3 {
        position: absolute;
        top: 55%;
        left: 25%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .mood:hover .star-4 {
        position: absolute;
        top: 30%;
        left: 80%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .mood:hover .star-5 {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .mood:hover .star-6 {
        position: absolute;
        top: 5%;
        left: 60%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
    }

    .fil0 {
        fill: #fffdef;
    }

    .star-text {
        position: relative;
        display: inline-block;
        cursor: default;
    }

    .star-text .star-1 {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
        opacity: 0;
    }

    .star-text .star-2 {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
        opacity: 0;
    }

    .star-text .star-3 {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
        opacity: 0;
    }

    .star-text .star-4 {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
        opacity: 0;
    }

    .star-text .star-5 {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
        opacity: 0;
    }

    .star-text .star-6 {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
        opacity: 0;
    }

    .star-text:hover .star-1 {
        position: absolute;
        top: -20%;
        left: -20%;
        width: 20px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .star-text:hover .star-2 {
        position: absolute;
        top: 35%;
        left: -25%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .star-text:hover .star-3 {
        position: absolute;
        top: 80%;
        left: -10%;
        width: 10px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .star-text:hover .star-4 {
        position: absolute;
        top: -25%;
        left: 105%;
        width: 20px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .star-text:hover .star-5 {
        position: absolute;
        top: 30%;
        left: 115%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .star-text:hover .star-6 {
        position: absolute;
        top: 80%;
        left: 105%;
        width: 10px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
        opacity: 1;
    }

    .glitter {
        position: fixed;
        pointer-events: none;
        font-size: 20px;
        user-select: none;
        color: white;
        animation: flow 1s ease-out forwards;
        z-index: 9999;
    }

    @keyframes flow {
        0% {
            transform: translate(0, 0) scale(1) rotate(0deg);
            opacity: 1;
            filter: hue-rotate(0deg);
        }

        100% {
            transform: translate(var(--x), var(--y)) scale(0) rotate(360deg);
            opacity: 0;
            filter: hue-rotate(180deg);
        }
    }

    #head4 {
        color: white;
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
        letter-spacing: 5px;
    }

    #recommendations {
        margin-top: 20px;
        display: none;
    }

    #recommendations p {
        margin: 10px 0;
        font-size: 20px;
        color: white;
    }